@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-btn-primary:not([disabled]) {
  background: #2580ff !important;
}
.ant-btn-danger:not([disabled]) {
  background: #ff5005 !important;
}
.ant-btn-primary:not([disabled]):hover {
  background: #4290fc !important;
}
